.container {
    background-color: rgb(195, 202, 208);
    
}
.heading{
    font-size: 40px;
    font-weight: 500;
 padding: 10px;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto; 
}



.cards {
    flex: 0 0 auto; 
    width: 25%;
    height: 300px;
    margin: 10px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 12px; /* width of the scrollbar */
    height: 5px; /* height of the scrollbar */
}



/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background: #888; /* color of the handle */
    border-radius: 10px; /* roundness of the handle */
}

@media (max-width: 1024px) {
    .cards {
        width: 33.33%; /* For medium screens, 3 cards per row */
    }
}

/* Media query for small screens (phones) */
@media (max-width: 768px) {
    .cards {
        width: 50%; 
      
    }
    .heading{
        font-size: 30px;
    }
}

/* Media query for very small screens */
@media (max-width: 425px) {
    .cards {
        width: 49%; 
        margin: 2px;
        height: 200px;
     
    }
    .heading{
        font-size: 20px;
    }
}

/* Image container */
.image {
    height: 50%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

/* Image styling */
.image img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Adjust image to fit within its container */
}

/* Details container */
.details {
    height: 30%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    font-weight: 500;
}
